@using Resources
@model JohannesVidnerProject.Models.Users.CreateUserViewModel

@{
    ViewBag.Title = langResources.Views_Users_Create_createNew;
}

<h2>@langResources.Views_Users_Create_createNew</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">@langResources.Views_Users_Edit_username</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@langResources.Views_Users_Edit_name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@langResources.Views_Users_Edit_password</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@langResources.Views_Users_Edit_writeAccess</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WriteAccess)
                    @Html.ValidationMessageFor(model => model.WriteAccess, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@langResources.Views_Users_Edit_userAdministrator</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UserAdmin)
                    @Html.ValidationMessageFor(model => model.UserAdmin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                @langResources.Views_Users_Edit_workplace
            </label>
            <div class="col-md-10">
                @Html.DropDownListFor(pub => pub.SelectedPublicationId, Model.AllowedPublications, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                @langResources.Views_Users_Create_ChooseLanguage
            </label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SelectedCulture, Model.AllowedCultures, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@langResources.Views_Users_Create_create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(langResources.Views_Users_Edit_back, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
