@using JohannesVidnerProject.Helpers
@using Resources
@model JohannesVidnerProject.Models.Users.DeleteUserViewModel

@{
    ViewBag.Title = langResources.Views_Users_Delete_Title;
}

<h2>langResources.Views_Users_Delete_Title</h2>

<h4>
    @langResources.Views_Users_Delete_MainQuestion.Fmt(@Model.Username, @Model.Name)
</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.HasSeenConfirmation)
    <div >
        <input type="submit" 
               value="@langResources.Views_Users_Delete_delete" 
               class="btn btn-danger" />
        <a href="@Url.Action("Index")" class="btn btn-default">@langResources.Views_Users_Delete_cancel</a>
    </div>
}
