<ul class="nav navbar-nav navbar-right">
    @if (@Session.GetCurrentUser() == null)
    {
        <li>@Html.ActionLink("Log in", "Login", "Home", null, new {id = "loginLink"})</li>
    }
    else
    {
        <li>@Html.ActionLink(Session.GetCurrentUser().Username, "Index", "Home")</li>
        <li>@Html.ActionLink("Log off", "Logoff", "Home")</li>
    }
</ul>

<!--<a><img id="visiolinkLogo" src="/Images/Visiolink-logo-grey.png" alt=" hmm" @(Culture == "en-GB" ? "src=\"/Images/Visiolink-logo-white.png\"" : "src=\"/Images/Visiolink-logo-grey.png\"")/></a>
    -->
