@using Resources
@{
    ViewBag.Title = langResources.Views_Home_Contact_Title;
}
<h2>@langResources.Views_Home_Contact_Title</h2>

<strong>Visiolink ApS</strong><br/>
<div class="mobileFloatLeft first">
    Bjørnholms Allé 20<br/>
    8260 Viby J<br/>
    Danmark<br/>
</div>
<div class="mobileFloatLeft">
    @langResources.Views_Home_Contact_telephone +45 7023 3544<br/>
    @langResources.Views_Home_Contact_email: <a class="darklink" href="mailto:info@visiolink.com">info@visiolink.com</a><br/>
    @langResources.Views_Home_Contact_support: <a class="darklink" href="mailto:support@visiolink.com">support@visiolink.com</a><br/>
    @langResources.Views_Home_Contact_cvr: 27665314
</div>
<div class="socialMedia">
    <p>
        <a class="twitter" href="http://www.twitter.com/VisiolinkEpages" target="_blank">
            <img src="/images/twitter.png" height="18" width="20" alt="Twitter" />
        </a>
        <a href="http://www.linkedin.com/company/visiolink-denmark" class="linkedin" target="_blank">
            <img src="/images/linkedin.png" height="18" width="24" alt="LinkedIn" />
        </a>
    </p>
</div>