@using Resources
@model JohannesVidnerProject.Models.Home.DetailViewModel
@{
    ViewBag.Title = Model.Name + " - " + langResources.Views_Home_Details_Title;
}
<br />
<div class="h2 col-md-12">@Model.Name</div>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2">
            <strong>
                @langResources.Views_Home_Details_PublicationName
            </strong>
        </div>
        <div class="col-md-10">@Model.ShortName</div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <strong>
                @langResources.Views_Home_Details_PublicationId
            </strong>
        </div>
        <div class="col-md-10">@Model.Id</div>
    </div>
    <div class="form-group">
        <div class="col-md-2 text-@Model.CssClass">
            <strong>
                @langResources.Views_Home_Details_CurrentStatus
            </strong>
        </div>
        <div class="col-md-10 text-@Model.CssClass">@Model.ErrorMessage</div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <strong>
                @langResources.Views_Home_Details_PageTolerance
            </strong>
        </div>
        <div class="col-md-10">@Model.MaxMissingPages</div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <strong>
                @langResources.Views_Home_Details_NumPages
            </strong>
        </div>
        <div class="col-md-10">@Model.NumberOfPages</div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <strong>
                @langResources.Views_Home_Details_StartedRunning
            </strong>
        </div>
        <div class="col-md-10">@Model.RunningStarted</div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <strong>
                @langResources.Views_Home_Details_ExpectedReleaseTime
            </strong>
        </div>
        <div class="col-md-10">
            @if (@Model.ExpectedReleaseTime == null)
            { <div>@langResources.Views_Home_Details_ReleaseTimeUnknown</div> }
            else
            {<div>@Model.ExpectedReleaseTime</div>}
        </div>
    </div>
    <div>
        @if (Model.ShowShowLogButton)
        {
            <div class="form-group">

                <div class="col-md-2">
                    <button class="btn btn-primary btn-block" onclick="change()" id="logBtn">
                        @langResources.Views_Home_Details_BtnShowLog
                    </button>
                </div>
                <div class="col-md-10"
                     hidden="hidden"
                     id="log">
                    @Model.LogText
                </div>
            </div>
        }
        @if (Model.ShowReleaseButton)
        {
            <div class="form-group">

                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">
                        @langResources.Views_Home_Details_BtnRelease
                    </button>
                </div>
            </div>
        }
        @if (Model.ShowRerunButton)
        {
            <div class="form-group">

                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">
                        @langResources.Views_Home_Details_BtnRerun
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="form-group" hidden="hidden" id="log">
        <hr />
        <div class="col-md-2">
            <strong>
                @langResources.Views_Home_Details_LogText
            </strong>
        </div>

    </div>
</div>
<script type="text/javascript">
    function change() {
        if (document.getElementById("log").hidden) {
            document.getElementById("log").hidden = false;
            document.getElementById("logBtn").innerText = "@langResources.Views_Home_Details_BtnHideLog";
        }
        else {
            document.getElementById("log").hidden = true;
            document.getElementById("logBtn").innerText = "@langResources.Views_Home_Details_BtnShowLog";
        }
    }
</script>
