@model Model.Edition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Edition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RunningStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunningStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxMissingPages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxMissingPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Running)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Running)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLogCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedReleaseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedReleaseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publication.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publication.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
