@model JohannesVidnerProject.Models.Home.IndexViewModel
@Styles.Render("~/Content/PublicationList")
<br/>
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-7"></div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.p, Model.PublicationDropdownItems, new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.q, new {@class = "form-control", placeholder = "Search..."})
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn" value="Search"/>
            </div>
        </div>
    </div>
    }
</div>
<hr/>
<div>
    @foreach (var p in Model.PublicationViewModels)
    {
        <div class='alert alert-@p.CssClass' role="alert" onclick="location.href='@Url.Action("Details", "PublicationList")'">
            <div class='line1'>
                <span class='name'>@p.Name</span>
                <span class='datetime'>@p.RunningStarted</span>
            </div>
            <div class='line2'>
                <span class='pages'>@p.NumberOfPages pages</span>
            </div>
            <div class='line3'>
                <span class='status error'>@p.ErrorMessage</span>
            </div>
            @if (p.MissingPages.Count != 0)
            {
                foreach (var page in p.MissingPages)
                 {
                     <div>
                         <span>Missing page from section @page.Section, page @page.PageNumber.</span>
                     </div>
                 }
            }
        </div>
    }
</div>