@using JohannesVidnerProject.Helpers
@using System.Linq
@using Resources
@model JohannesVidnerProject.Models.Home.IndexViewModel
@Styles.Render("~/Content/PublicationList")
@{

    ViewBag.Title = langResources.Views_Home_Index_Title;
}
<br />
<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-7"></div>
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.p, Model.PublicationDropdownItems, new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.q, new
                {
                    @class = "form-control",
                    placeholder = langResources.Views_Home_Index_SearchFieldPlaceholder
                })
                </div>
                <div class="col-md-1">
                    <input type="submit"
                           class="btn"
                           value="@langResources.Views_Home_Index_SearchButton" />
                </div>
            </div>
        </div>
    }
</div>
<hr />
<div>
    @foreach (var p in Model.PublicationViewModels)
    {
        <div class='alert alert-@p.CssClass' role="alert">
            <div>
                <span class='name'onclick="location.href='@Url.Action("Details", "Home", new {Id = p.Id})'">@p.Name</span>
                <span class='datetime'>@p.RunningStarted</span>
            </div>
            <div>
                <span class='pages'>
                    @langResources.Views_Home_Index_pages.Fmt(p.NumberOfPages)
                </span>
            </div>
            <div>
                <span class='error'>@p.ErrorMessage</span>
            </div>
            @if (p.MissingPages.Any())
            {
                foreach (var page in p.MissingPages)
                {
                    <div>
                        <span>
                            @langResources.Views_Home_Index_MissingPages.Fmt(page.Section, page.PageNumber)
                        </span>
                    </div>
                }
            }
        </div>
    }
</div>