@{
    ViewBag.Title = "Home Page";
}

@using JohannesVidnerProject.Controllers
@using JohannesVidnerProject.Models
@using Model
@using Services
@model User

@Styles.Render("~/Content/PublicationList");
<div>
    @foreach (var p in DbService.Instance.GetPublications(Model))
    {
        <div class='alert alert-success' role="alert">
            <div class='line1'>
                <span class='name'>@p.Name</span>
                <span class='datetime'>@p.Editions.Last().RunningStarted</span>
            </div>
            <div class='line2'>
                <span class='pages'>@p.Editions.Last().NumberOfPages pages</span>
            </div>
            <div class='line3'>
                <span class='status error'>@p.Editions.Last().ErrorMessage</span>
            </div>
        </div>
    }
</div>