@model List<JohannesVidnerProject.Models.HomeIndexViewModel>

@Styles.Render("~/Content/PublicationList")&nbsp;
<div>
    @foreach (var p in Model)
    {
        <div class='alert alert-@p.CssClass' role="alert" onclick="location.href='@Url.Action("Details", "PublicationList")'">
            <div class='line1'>
                <span class='name'>@p.Name</span>
                <span class='datetime'>@p.RunningStarted</span>
            </div>
            <div class='line2'>
                <span class='pages'>@p.NumberOfPages pages</span>
            </div>
            <div class='line3'>
                <span class='status error'>@p.ErrorMessage</span>
            </div>
            @if (p.MissingPages.Count != 0)
            {
                foreach (var page in p.MissingPages)
                 {
                     <div>
                         <span>Missing page from section @page.Section, page @page.PageNumber.</span>
                     </div>
                 }
            }
        </div>
    }
</div>