@using JohannesVidnerProject.Controllers
@using JohannesVidnerProject.Models
@using Model
@using Services
@model List<Model.Publication>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Publikationer</title>
    <link rel="stylesheet" type="text/css" href="\Content\PublicationList.css">
</head>
<body>
    <div>
        <table>
            <tr>
                @foreach (var p in TestService.GetPublications())
                {
                    <div class='@TestService.SetStatusColor(p.Editions.Last())'>
                        <div class='line1'>
                            <span class='name'>@p.Name</span>
                            <span class='datetime'>@p.Editions.Last().RunningStarted</span>
                        </div>
                        <div class='line2'>
                            <span class='pages'>@p.Editions.Last().Pages pages</span>
                        </div>
                        <div class='line3'>
                            <span class='status error'>@p.Editions.Last().Errormessage</span>
                        </div>
                    </div>
                }
        </table>
        </div>
    </body>
</html>
