@model JohannesVidnerProject.Models.UserList

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("List", "UserManager"))
{
    
<table class="table">
    <tr>
        <th></th>
        <th>Username</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Associated With</th>
        <th></th>
    </tr>

@foreach (var userView in Model.UserViews) {
    <tr>
        <td>@Html.CheckBoxFor(model => userView.Selected)</td>
        <td>@userView.User.Username</td>
        <td>@userView.User.Name</td>
        <td>@userView.User.Mailaddress</td>
        <td><!--TODO get reference to employer--></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { username=userView.User.Username }) |
            @Html.ActionLink("Delete", "Delete", new { username = userView.User.Username })
        </td>
    </tr>
}
    
</table>
<input type="submit" value="Dele selected Users"/>
}
